@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?k0f3m3");
  src: url("../fonts/icomoon.eot?#iefixk0f3m3") format('embedded-opentype'), url("../fonts/icomoon.woff?k0f3m3") format('woff'), url("../fonts/icomoon.ttf?k0f3m3") format('truetype'), url("../fonts/icomoon.svg?k0f3m3#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'iconitos-skills';
  src: url("../fonts-skills/icomoon.eot?pj7vij");
  src: url("../fonts-skills/icomoon.eot?#iefixpj7vij") format('embedded-opentype'), url("../fonts-skills/icomoon.woff?pj7vij") format('woff'), url("../fonts-skills/icomoon.ttf?pj7vij") format('truetype'), url("../fonts-skills/icomoon.svg?pj7vij#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: Arial;
  font-size: 16px;
}
header {
  background-color: rgba(0,0,0,0.87);
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 0 rgba(0,0,0,0.2);
}
header .logito {
  margin-left: 2em;
  margin-top: 1em;
  border-right-style: solid;
  border-color: #0778f2;
  padding-left: 1em;
  padding-rigth: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  width: 150px;
}
header .logito .titulo strong {
  color: #fff;
  padding: 3 m;
}
header .descripcion {
  margin-left: 4em;
}
header .descripcion h2 {
  color: #fff;
  font-size: 2.3em;
}
header .descripcion h2 strong {
  color: #ff0;
}
header .descripcion ul {
  color: #fff;
}
header .descripcion ul li p {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  font-size: 1.3em;
}
footer {
  background-color: #00bfff;
  bottom: 0;
  padding: 0.2em;
  margin-bottom: 0;
}
footer .skills {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer .skills li p {
  margin-left: 4em;
  display: inline-block;
  color: #fff;
}
footer .skills li .code {
  margin-left: 7em;
}
footer .skills li .code:before {
  font-size: 3em;
  font-family: iconitos-skills;
  content: "\e600";
}
footer .skills li .console:before {
  font-size: 3em;
  font-family: iconitos-skills;
  content: "\e601";
}
footer .skills li .git-hub:before {
  font-size: 3em;
  font-family: iconitos-skills;
  content: "\e606";
}
footer .skills li .tux:before {
  font-size: 3em;
  font-family: iconitos-skills;
  content: "\e602";
}
footer .skills li .finder:before {
  font-size: 3em;
  font-family: iconitos-skills;
  content: "\e603";
}
footer .skills li .android:before {
  font-size: 3em;
  font-family: iconitos-skills;
  content: "\e604";
}
footer .skills li .windows:before {
  font-size: 3em;
  font-family: iconitos-skills;
  content: "\e605";
}
footer .skills li .file-xml:before {
  font-size: 3em;
  font-family: iconitos-skills;
  content: "\e607";
}
footer .skills li .html5:before {
  font-size: 3em;
  font-family: iconitos-skills;
  content: "\e608";
}
footer .skills li .chrome:before {
  font-size: 3em;
  font-family: iconitos-skills;
  content: "\e609";
}
.principal {
  margin: 4em;
  margin-top: 4em;
  padding: 0;
  background-color: #e8e8e8;
  position: relative;
  border-radius: 0 0 0.5em 0.5em;
  box-shadow: 5px 10px 0 rgba(0,0,0,0.2);
}
.principal .profile {
  display: inline-block;
}
.principal .profile img {
  border-radius: 50%;
}
.principal .botones-sociales {
  margin-left: 8%;
  padding: 0;
  display: inline-block;
  position: absolute;
  top: 1.1em;
}
.principal .botones-sociales ul {
  margin-left: 0;
  padding: 0;
  list-style: none;
}
.principal .botones-sociales ul li a {
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin-right: 4em;
  margin-top: 0.1em;
}
.principal .botones-sociales ul li a:before {
  font-size: 6em;
}
.principal .botones-sociales ul li .facebook {
  border-radius: 50%;
  color: #3b5998;
  box-shadow: 5px 7px 0 #3b5998;
  margin-left: 2em;
}
.principal .botones-sociales ul li .facebook:before {
  font-family: icomoon;
  content: "\e601";
}
.principal .botones-sociales ul li .g-plus {
  border-radius: 50%;
  color: #d34836;
  box-shadow: 5px 7px 0 rgba(211,72,54,0.9);
}
.principal .botones-sociales ul li .g-plus:before {
  font-family: icomoon;
  content: "\e600";
}
.principal .botones-sociales ul li .twitter {
  border-radius: 50%;
  color: #00bfff;
  box-shadow: 5px 7px 0 #00bfff;
}
.principal .botones-sociales ul li .twitter:before {
  font-family: icomoon;
  content: "\e602";
}
.principal .botones-sociales ul li .youtube {
  color: #f00;
}
.principal .botones-sociales ul li .youtube:before {
  font-family: icomoon;
  content: "\e603";
}
.principal .botones-sociales ul li .github {
  border-radius: 50%;
  margin-right: 0;
  color: #000;
  box-shadow: 5px 7px 0 #000;
}
.principal .botones-sociales ul li .github:before {
  font-family: icomoon;
  content: "\e604";
}
.logo {
  position: absolute;
  right: 50%;
  left: 43%;
  top: 2em;
  z-index: 3;
  width: 160px;
}
.logo img {
  width: 160px;
  border-radius: 50%;
}
.cv {
  margin: 4em;
  padding: 1.5em;
  background-color: #e8e8e8;
  border-radius: 0 0 0.5em 0.5em;
  box-shadow: 5px 10px 0 rgba(0,0,0,0.2);
}
.cv .logo-cv:before {
  font-size: 8em;
  font-family: icomoon;
  content: "\e605";
}
